<!-- base.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Base layout for other pages
-->

<!DOCTYPE html>
<html id="html" lang="nl">

	<!-- page head properties -->
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172144034-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-172144034-1', { 'anonymize_ip': true });
		</script>
		<meta name="google-site-verification" content="37Ph3I5SKsLnDCuycpPh2BIyr3eG-uAi5w-tqkAInJE" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='styles/stylesguide.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
		<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/guide/apple-touch-icon.png?v=E6m7m2PjYe">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/guide/favicon-32x32.png?v=E6m7m2PjYe">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/guide/favicon-16x16.png?v=E6m7m2PjYe">
		<link rel="manifest" href="/static/favicon/guide/site.webmanifest?v=E6m7m2PjYe">
		<link rel="mask-icon" href="/static/favicon/guide/safari-pinned-tab.svg?v=E6m7m2PjYe" color="#880112">
		<link rel="shortcut icon" href="/static/favicon/guide/favicon.ico?v=E6m7m2PjYe">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/static/favicon/guide/browserconfig.xml?v=E6m7m2PjYe">
		<meta name="theme-color" content="#ffffff">
		<title>{%- block title -%}{%- endblock -%}</title>
		<meta property="preferredtheme" content="{{ current_user.theme }}">
	</head>

	<!-- page body -->
	<body id="page">
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
			<a class="navbar-brand" href="{{ url_for('guide') }}">
				<img src="{{ url_for('static', filename='picto/cross.png') }}" class="d-inline-block align-top" alt="">
				Stadsgids
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					{% for role in current_user.roles %}
					{% if role.name == 'Administrator' %}
					<li class="nav-item">
						<a id="navlink" class="nav-link" href="{{ url_for('dashboard')}}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
					</li>
					{% elif role.name == 'User' %}
					<li class="nav-item">
						<a id="navlink" class="nav-link" href="{{ url_for('profile')}}"><i class="fas fa-user-alt"></i> Profiel</a>
					</li>
					{% endif %}
					{% endfor %}
					{% if not current_user.is_authenticated %}
				    <li class="nav-item dropdown">
						<a id="navlink" class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-in-alt"></i> Log in</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<form action="{{ url_for('guide') }}" method="post">
								<div class="form-group">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
									<input class="form-control white" type="text" id="usernameinput" name="username" placeholder="Gebruikersnaam">
									<div class="invalidlogin" id="invalidusername"></div>
								</div>
								<div class="form-group">
									<input class="form-control white" type="password" id="passwordinput" name="password" placeholder="Wachtwoord">
									<div class="invalidlogin" id="invalidpassword"></div>
								</div>
								<div class="form-group">
									<button id="login" class="btn btn-secondary" type="submit">Log in</button>
									<a id="forgotbutton" href="{{ url_for('forgot') }}" class="btn btn-outline-secondary my-2 my-sm-0">Wachtwoord vergeten</a>
								</div>
							</form>
						</div>
					</li>
					<li class="nav-item">
						<a id="navlink" class="nav-link" href="{{ url_for('register')}}"><i class="fas fa-user-alt"></i> Registreren</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a id="navlink" class="nav-link" href="{{ url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Log uit</a>
					</li>
					{% endif %}
				</ul>
				<form id="searchformnavbar" class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="post">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<div class="listbox">
						<input autocomplete="off" id="autocomplete" class="form-control mr-sm-2 white" type="search" placeholder="Zoeken" name="search">
						{% if current_user.is_authenticated %}
						<div id="autolist">
						</div>
						{% else %}
						<div class="autolist">
						</div>
						{% endif %}
					</div>
					<input type="hidden" name="form" value="regular">
					<button class="btn btn-outline-light my-2 my-sm-0 fixpos" type="submit"><i class="fas fa-search"></i> Zoeken</button>
					<a class="btn btn-outline-light my-2 my-sm-0 fixpos" id="advanced" href="{{ url_for('search')}}"><i class="fas fa-sliders-h"></i> Uitgebreid Zoeken</a>
				</form>
			</div>
		</nav>
		<div class="message-container">
			{%- with messages = get_flashed_messages(with_categories=true, category_filter=["success", "warning", "info"]) -%}
				{%- if messages -%}
					{%- for category, message in messages -%}
			<div class="alert alert-{{ category }} alert-dismissible fade show">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fas fa-times"></i></a>
			  {{ message }}
			</div>
					{%- endfor -%}
				{%- endif -%}
			{%- endwith -%}
		</div>
		{%- block content -%}{%- endblock -%}
		<div id="footer">
			<img id="footerimg" src="{{ url_for('static', filename='picto/cross.png') }}">
			<p>STADSGIDS.MAURICEKINGMA.NL</p>
			<p id="copyright">©2020 M. Kingma</p>
		</div>
		<script type="text/javascript">
			var csrf_token = "{{ csrf_token() }}";
			XMLHttpRequest.prototype.origOpen = XMLHttpRequest.prototype.open;
			XMLHttpRequest.prototype.open   = function () {
				this.origOpen.apply(this, arguments);
				this.setRequestHeader('X-CSRFToken', csrf_token);
	        };
		</script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/base.js')}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		{%- block script -%}{%- endblock -%}
		<script type="text/javascript" src="{{ url_for('static', filename='js/validator.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/darkmode.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/zenscroll-min.js')}}"></script>
		<script type="text/javascript">
			var defaultDuration = 777 // ms
			var edgeOffset = 70 // px
			zenscroll.setup(defaultDuration, edgeOffset)
		</script>
	</body>
</html>
