<!-- blogpost.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout blogpost page
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Blog{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h2 class="nodec"><a href="{{ url_for('guide') }}"><i class="fas fa-long-arrow-alt-left"></i> terug</a></h2>
	<div class="formbox">
		<h1>{{ blog.title }}<span class="blogdate">{{ blog.date.strftime("%-d %B %Y %R") }}</span></h1>
		<p>{{ blog.short }}</p>
		{{ blog.body|safe }}
	</div>
</div>
{% endblock %}
{% block script %}

{% endblock %}
