<!-- blog.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout page for controlling  blogs
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h1><i class="far fa-comment-alt"></i> Blog</h1>
	<table class="table table-responsive-xs">
		<thead class="thead-dark">
			<th scope="col"><i class="fas fa-fingerprint"></i></th>
			<th scope="col"><i class="fas fa-calendar-alt"></th>
			<th scope="col"><i class="fas fa-heading"></i></th>
	        <th scope="col"><i class="fas fa-quote-right"></i></th>
	        <th scope="col"><i class="fas fa-upload"></i></th>
			<th scope="col"></th>
		</thead>
		<tbody>
			{% for blogpost in blogposts %}
			<tr>
				<td>{{ blogpost.id }}</td>
		        <td>{{ blogpost.date.strftime("%-d/%m") }}</td>
				<td>{{ blogpost.title }}</td>
		        <td>{% if blogpost.visible %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
				<td><a href="{{ url_for('createblog', blog_id=blogpost.id) }}"><i class="far fa-edit"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<form action="{{ url_for('blog') }}" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<button type="submit" class="btn btn-outline-dark"><i class="far fa-file"></i> Nieuw</button>
	</form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesort.js')}}"></script>
{% endblock %}
