<!-- controlnew.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout page for controlling new locations
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h1>Controleer Reviews</h1>
	<table class="table">
		<thead class="thead-dark">
			<th scope="col">id</th>
	        <th scope="col">Gebruiker</th>
	        <th scope="col">Recensie</th>
	        <th scope="col">Sterren</th>
            <th scope="col">Nuttig</th>
			<th scope="col">Datum</th>
			<th scope="col">Gecontroleerd</th>
			<th scope="col"></th>
            <th scope="col"></th>
		</thead>
		<tbody>
			{% for review in reviews %}
			<tr>
				<td>{{ review.id }}</td>
		        <td>{{ review.user.username }}</td>
		        <td>{{ review.review }}</td>
		        <td>{{ review.stars }}</td>
                <td>{{ review.get_upvote_count() }}</td>
				<td>{{ review.date.strftime("%-d %B %Y %R") }}</td>
		        <td>{% if review.checked %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
				<td>
                    {% if not review.checked %}
                    <form action="{{ url_for('check') }}" method="post">
                        <input type="hidden" name="review_id" value="{{ review.id }}">
                        <input type="hidden" name="action" value="accept">
                        <input class="btn btn-outline-dark" type="submit" value="Accepteer">
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if not review.checked %}
                    <form action="{{ url_for('check') }}" method="post">
                        <input type="hidden" name="review_id" value="{{ review.id }}">
                        <input type="hidden" name="action" value="block">
                        <input class="btn btn-outline-dark" type="submit" value="Weiger">
                    </form>
                    {% endif %}
                </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesort.js')}}"></script>
{% endblock %}
