<!-- confirm.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

page for confirming e-mail
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Locatienaam{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h1>E-mail bevestigen</h1>
	<p>Voer hieronder het e-mailadres in dat is gekoppeld aan het acount. Wij sturen dan een e-mail met een nieuwe bevestigingslink. Let op: deze link is 1 uur geldig.</p>
	<form class="needs-validation" action="{{ url_for('new_conformation')}}" method="post" novalidate>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="form-group">
			<label for="emailconfirm">E-mailadres</label>
			<input class="form-control" type="email" name="email" id="emailconfirm" required>
			<div class="invalid-feedback">Geef een geldig e-mailadres op</div>
		</div>
		<input class="btn btn-outline-secondary" type="submit" value="Stuur nieuwe link">
	</form>
</div>
{% endblock %}
