<style>
    .message {
        white-space: pre-wrap;
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
	p, h1, h2, h3, h4, a {
		font-family: "Roboto", sans-serif;
	}
    .header, .footer {
        background-color: black;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        color: white;
    }
    body {
        padding: 10px;
    }
    p {
        padding-left: 20px;
    }
    .message {
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        background-color: lightgrey;
        border-radius: 10px;
    }
</style>
<body>
    <div class="header">
        <h1>Nieuw bericht van {{ name }}</h1>
    </div>
    <p>Beste Maurice,</p>
    <p>Via mauricekingma.nl heeft {{ name }} je het volgende bericht gestuurd:</p>
    <p class="message">{{ message }}</p>
    <p>via het volgende emailadres kan je contact opnemen met {{ name }}:</p>
    <p>{{ email }}</p>
    <br>
    <p>Met vriendelijke groet,</p>
    <br>
    <p>Maurice</p>
    <div class="footer">
        <h4>www.mauricekingma.nl</h4>
    </div>
</body>
