<!-- contact.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Contact page layout
-->
<!DOCTYPE html>
<html lang="nl">
	
	<!-- page head properties -->
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Contact met Maurice</title>
		<link href="{{ url_for('static', filename='styles/stylesindex.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	</head>
	
	<!-- page body -->
	<body>
		<div class="conatiner" id="knock">
			<p id="title">MAURICE</p>
		</div>
		<div class="page">
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__group"><a href="{{ url_for('index')}}" class="menu__link">About me</a></li>
					<li class="menu__group"><a href="{{ url_for('guide')}}" class="menu__link">Stadsgids</a></li>
					<li class="menu__group"><a href="{{ url_for('contact')}}" class="menu__link">Contact</a></li>
				</ul>
			</nav>
		</div>
		<p>Use this form and I will be in touch</p>
		<div class="form">
			<form action="{{ url_for('contact') }}" method="post">
				<label for="name">Name</label>
				<input id="name" type="text" name="name">			
				<div class="invalidname"></div>
				<label for="email">Email</label>
				<input id="email" type="email" name="email">
				<div class="invalidemail"></div>
				<label for="message">Message</label>
				<textarea id="message" type="text" name="message"></textarea>
				<div class="invalidmessage"></div>
				<input class="button" type="submit">
			</form>
		</div>
		
		<script>
			var path = "url('/static/img/"
		    imgs = ['index1.jpeg','index2.jpeg'],
		    i = Math.floor(Math.random()*imgs.length);
			document.getElementById("knock").style.backgroundImage = path + imgs[i] + "')";
			
			// bootstrap validation javascript
			document.addEventListener('DOMContentLoaded', () => {
				var forms = document.getElementsByClassName('needs-validation');
				var validation = Array.prototype.filter.call(forms, function(form) {
					form.addEventListener('submit', function(event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						};
						form.classList.add('was-validated');
					}, false);
			    });
			}, false);	
		</script>
	</body>
</html>