<!-- createnewsletter.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout for creating a newsletter
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
    <form class="form-control dectext needs-validation fullheight" action="{{ url_for('createhighlight', highlight_id=highlight.id) }}" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h2 class="float_right mt">{{ highlight.name }}, <span class="mobile">week: </span>{{ highlight.week.isocalendar()[1] }}</h2>
        <h1>Uitgelicht<span class="mobile"> wijzigen</span></h1>
        <div class="form-row">
            <textarea name="editor1" id="editor1">
                {{ highlight.description }}
            </textarea>
        </div>
        <div class="form-row ml mt">
            <div class="form-group">
                <label for="videolink">Youtube video ID</label>
                <input class="form-control" id="videolink" type="text" name="videolink" value="{{ highlight.videolink if highlight.videolink != None }}">
            </div>
        </div>
        <div class="form-row ml mt">
            <div class="form-group">
                <label for="videolink">Afspelen vanaf</label>
                <input class="form-control" id="videolink" type="text" name="videostart" value="{{ highlight.videostart if highlight.videostart != None }}">
            </div>
        </div>
        <div class="form-row ml">
            <div class="form-group">
                <label for="videolength">Lengte in seconden</label>
                <input class="form-control" id="videolength" type="text" name="videolength" value="{{ highlight.videolength if highlight.videolength != None }}">
            </div>
        </div>
        <div class="form-check float_right mt">
            <div class="btn btn-outline-dark" id="unlock">
                <i id="lock" class="fas fa-lock"></i>
            </div>
            <button id="locked" class="btn btn-dark" type="submit" name="action" value="delete" disabled><i class="fas fa-trash-alt"></i><span class="mobile"> Verwijderen</span></button>
        </div>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="save"><i class="far fa-save"></i><span class="mobile"> Opslaan</span></button>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="preview"><i class="far fa-eye"></i><span class="mobile"> Voorbeeld</span></button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sendunlock.js')}}"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
