<!-- createnewsletter.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout for creating a newsletter
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Nieuwsbrieven{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
    <h1>Nieuwsbrief opstellen</h1>
    <form class="dectext" action="{{ url_for('createnewsletter') }}" method="post">
        <textarea name="text" id="editor1" rows="10" cols="80"></textarea>
        <input class="btn btn-outline-dark" type="submit" name="" value="Go">
    </form>
    {{ text|safe }}
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/ckeditor.js')}}"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
