<!-- createnewsletter.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout for creating a newsletter
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
    <h1>Highlight wijzigen</h1>
    <form style="height: 100%;" class="form-control dectext needs-validation" action="{{ url_for('createhighlight', highlight_id=highlight.id) }}" method="post" novalidate>
        <h2>{{ highlight.name }}, week: {{ highlight.week.isocalendar()[1] }}</h2>
        <div class="form-row">
            <textarea name="editor1" id="editor1">
                {{ highlight.description }}
            </textarea>
        </div>
        <div class="form-check" style="float: right;">
            <input type="checkbox" class="form-check-input" id="unlock">
            <label class="form-check-label" for="unlock">Ontgrendel verwijderknop</label>
            <input id="locked" class="btn btn-outline-dark" type="submit" name="action" value="delete" disabled>
        </div>
        <input class="btn btn-outline-dark" type="submit" name="action" value="save">
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sendunlock.js')}}"></script>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
