<!-- createnewsletter.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout for creating a newsletter
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Nieuwsbrieven{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
    <form class="form-control dectext needs-validation formbox fullheight" action="{{ url_for('createnewsletter', newsletter_id=newsletter.id) }}" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h1>Nieuwsbrief opstellen</h1>
        <div class="form-row">
            <div class="form-group ml mb">
                <label for="subject"><i class="fas fa-heading"></i> Onderwerp</label>
                <input class="form-control" id="subject" type="text" name="subject" value="{{ newsletter.subject }}" required>
                <div class="invalid-feedback">Geef een onderwerp op</div>
            </div>
        </div>
        <div class="form-row">
            <label class="ml" for="editor1"><i class="far fa-newspaper"></i> Inhoud</label>
            <textarea name="editor1" id="editor1">
                {{ newsletter.body }}
            </textarea>
        </div>
        <div class="form-check float_right mt">
            <div class="btn btn-outline-dark" id="unlock">
                <i id="lock" class="fas fa-lock"></i>
            </div>
            <button id="locked" class="btn btn-dark" type="submit" name="action" value="delete" disabled><i class="fas fa-trash-alt"></i><span class="mobile"> Verwijderen</span></button>
            <button id="locked" class="btn btn-dark" type="submit" name="action" value="send" disabled><i class="fas fa-paper-plane"></i><span class="mobile"> Verstuur</span></button>
        </div>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="save"><i class="far fa-save"></i><span class="mobile"> Opslaan</span></button>
        <button class="btn btn-outline-secondary mt" type="submit" name="action" value="test"><i class="far fa-eye"></i><span class="mobile"> Toon voorbeeld</span></button>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sendunlock.js')}}"></script>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
