<!-- blog.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout page for controlling  blogs
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h1>Oeps... Er ging iets niet helemaal goed.</h1>
	<p>Er is direct melding gemaakt van deze fout: {{ status_code }}</p>
	<br>
	<p>{{ message }}</p>
	<br>
	<a href="{{ url_for('guide') }}">Ga terug naar de homepagina</a>
</div>
{% endblock %}
