<!-- guide.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Guide homepage layout
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids Amsterdam{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="detailbox mb onecolumn">
				<h3>Welkom bij Stadsgids!</h3>
				<p>Stadsgids is de website voor het vinden van leuke en originele locaties in Amsterdam.</p>
				<br>
				<p>Deze gids geeft je alle belangrijke informatie over restaurants, winkels, bierbrouwerijen, cocktailbars en nog veel meer.</p>
				<br>
				<div class="">
					<h4><span id="checklabel" class="btn btn-danger btn-sm">{{ amountRecommendations }} AANRADERS</span> op Stadsgids!</h4>
				</div>
				{% if not current_user.is_authenticated %}
				<br>
				<div class="formbox lightback infobox nodec">
					<p><i class="fas fa-heart"></i><i class="far fa-hand-point-up"></i><i class="far fa-edit"></i><i class="fas fa-star"></i></p>
					<p>Met een account kan je nog meer! Denk aan favorieten, evenementen, reviews en ook het aanvragen van een persoonlijke aanbeveling.</p>
					<br>
					<p><a href="{{ url_for('register') }}">Registreer je hier</a> om hiervan te profiteren. Heb je al een account? Log dan in via het menu!</p>
					<br>
					<p><a href="{{ url_for('aboutguide')}}">Lees hier meer over Stadsgids</a></p>
				</div>
				{% endif %}
			</div>
			<div id="top" class="highlight lightback">
				<span class="highlightname"><p><i class="fas fa-award"></i> uitgelicht <span id="shift"></span><br> <span id="shifttext">deze week</span></p></span>
				<h2 class="highlighttitle">{{ highlight.name }}</h2>
				<div class="description" data-week="{{ highlight.week.isocalendar()[1] }}">
					{{ highlight.description|safe }}
				</div>
				<a id="previousLink" class="list" href="{{ url_for('location', place_id=highlightDetails.place_id, name=highlightDetails.name) }}">
					<li class="media">
						<div id="previousImg" class="center-cropped" style="background-image: url('{{ highlightDetails.photos }}');"></div>
						<div class="media-body">
							<h5 class="mt-0 mb-1">
								<span class="toright">
									<span id="previousRecLabel">
										{% if highlightDetails.recommended %}
										<p><button class="btn btn-danger btn-sm">AANRADER<i class="fas fa-medal"></i></button></p>
										{% endif %}
									</span>
									<p class="nomt">
										<span id="previousPriceLevel">
											{% if highlightDetails.price_level %}
											{{ highlightDetails.price_level }} -
											{% endif %}
										</span>
										<span id="previousTypes">
										{% if highlightDetails.recommended %}
										{% for type in highlightDetails.types %}
										{% for key, value in TYPES_DICT.items() %}
											{% if type == value %}
											{% if key in ICON_DICT %}
											<i class="fas fa-{{ ICON_DICT[key] }}"></i>
											{% endif %}
											{% endif %}
										{% endfor %}
										{% endfor %}
										{% else %}
										{% for type in highlightDetails.types %}
											{% if type in ICON_DICT %}
											<i class="fas fa-{{ ICON_DICT[type] }}"></i>
											{% endif %}
										{% endfor %}
										{% endif %}
										</span>
									</p>
									<p id="previousOpening">{{ highlightDetails.opening_hours }}</p>
								</span>
								<span id="previousName">{{ highlightDetails.name }}</span>
							</h5>
							<p class="searchadress"><span id="previousStars"><span id="stars">{{ highlightDetails.rating }}</span></span></p>
							<p class="searchadress"><span id="previousAddress">{{ highlightDetails["formatted_address"][0] }}</span></p>
						</div>
					</li>
				</a>
				<div class="highlightLink">
					<h2 class="nodec"><span id="previousHighlight" data-shift="-1"><i class="fas fa-long-arrow-alt-left"></i> vorige</span><span id="previousHighlight" class="float_right" data-shift="1">volgende <i class="fas fa-long-arrow-alt-right"></i></span></h2>
				</div>
			</div>
			<div class="formbox mb lightback">
				<h2>Nieuwe Aanraders</h2>
				{% for recommendation in newRecommendations %}
				<a class="list smallist" href="{{ url_for('location', place_id=recommendation.place_id, name=recommendation.name) }}">
					<li class="media">
						<div class="center-cropped" style="background-image: url('{{ recommendation.photos }}');"></div>
						<div class="media-body">
							<h5 class="mt-0 mb-1">
								<span class="toright">
									{% if recommendation.recommended %}
									<p><button class="btn btn-danger btn-sm">AANRADER<i class="fas fa-medal"></i></button></p>
									{% endif %}
									<p class="nomt">
										{% if recommendation.price_level %}
										{{ recommendation.price_level }} -
										{% endif %}
										{% if recommendation.recommended %}
										{% for type in recommendation.types %}
										{% for key, value in TYPES_DICT.items() %}
											{% if type == value %}
											{% if key in ICON_DICT %}
											<i class="fas fa-{{ ICON_DICT[key] }}"></i>
											{% endif %}
											{% endif %}
										{% endfor %}
										{% endfor %}
										{% else %}
										{% for type in recommendation.types %}
											{% if type in ICON_DICT %}
											<i class="fas fa-{{ ICON_DICT[type] }}"></i>
											{% endif %}
										{% endfor %}
										{% endif %}
									</p>
									<p>{{ recommendation.opening_hours }}</p>
								</span>
								{{ recommendation.name.replace(' Amsterdam-', ' ').replace(' Amsterdam', '').replace(' amsterdam', '') }}
							</h5>
							<p class="searchadress"><span id="stars">{{ recommendation.rating }}</span></p>
							<p class="searchadress">{{ recommendation["formatted_address"][0] }}</p>
						</div>
					</li>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-4">
			<div class="detailbox twocolumn mb">
				<h3>Welkom bij Stadsgids!</h3>
				<p>Stadsgids is de website voor het vinden van leuke en originele locaties in Amsterdam.</p>
				<br>
				<p>Deze gids geeft je alle belangrijke informatie over restaurants, winkels, bierbrouwerijen, cocktailbars en nog veel meer.</p>
				{% if not current_user.is_authenticated %}
				<br>
				<div class="formbox lightback infobox nodec">
					<p><i class="fas fa-heart"></i><i class="far fa-hand-point-up"></i><i class="far fa-edit"></i><i class="fas fa-star"></i></p>
					<p>Met een account kan je nog meer! Denk aan favorieten, evenementen, reviews en ook het aanvragen van een persoonlijke aanbeveling.</p>
					<br>
					<p><a href="{{ url_for('register') }}">Registreer je hier</a> om hiervan te profiteren. Heb je al een account? Log dan in via het menu!</p>
					<br>
					<p><a href="{{ url_for('aboutguide')}}">Lees hier meer over Stadsgids</a></p>
				</div>
				{% endif %}
			</div>
			<div class="detailbox mb nodec">
				<h2>Blog</h2>
				{% for blog in blogposts %}
				<a href="{{ url_for('blogpost', blog_id=blog.id, title=blog.title) }}">
					<div class="blogbox lightback mb">
						<h2>{{ blog.title }}<span class="blogdate">{{ blog.date.strftime("%-d %B %Y %R") }}</span></h2>
						<p>{{ blog.short }}</p>
					</div>
				</a>
				{% endfor %}
			</div>
			{% if current_user.is_authenticated %}
			<div class="detailbox mb nodec">
				<h2>Tip</h2>
				<a href="{{ url_for('location', place_id=tip.place_id, name=tip.name) }}"><h4><i class="fas fa-map-marker-alt"></i> {{ tip.name }}</h4></a>
				<p>{{ tip.tip }}</p>
			</div>
			{% if events %}
			<div class="detailbox mb">
				<h5>Aankomende evenementen</h5>
				<div class="scrollbox">
					{% for event in events %}
					<div class="card">
						<div class="card-body">
							<a href="{{ url_for('location', name=event.name, place_id=event.place_id)}}"><h5 class="card-title">{{ event.title }}</h5></a>
							<h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{ event.name }}</h6>
							<h6 class="card-subtitle mb-2 text-muted"><i class="far fa-calendar-alt"></i> {{ event.date.strftime("%-d %B %Y") }} - <i class="far fa-clock"></i> {{ event.date.strftime("%H:%M") }}</h6>
							<p class="card-text">{{ event.description }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if reviews %}
			<div class="detailbox nodec mb">
				<h5>Laatste reviews</h5>
				{% if reviews %}
				{% for review in reviews %}
				<div id="reviewform" class="reviewbox">
					<h2>{{ review.name }}<span><a id="redlink" href="{{ url_for('location', place_id=review.place_id, name=review.name )}}">Stadgids-pagina</a></span></h2>
					<h3>{{ review.user.username }}<span>{{ review.date.strftime("%-d %B %Y %R") }}</span><span id="stars">{{ review.stars }}</span></h3>
					<p>{{ review.review if review.review else "Geen toelichting" }}</p>
					<p id="usefull"><i class="fas fa-thumbs-up"></i> {{ review.get_upvote_count() }} {{ "gebruiker vindt" if review.get_upvote_count() == 1 else "gebruikers vinden" }} dit nuttig </p>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/star.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/loadhighlight.js')}}"></script>
{% endblock %}
