<!-- highlight.html for implementing a city guide webapp

Maurice Kingma
Minor Programmeren - Web App Studio

Layout highlight page
-->

{% extends "base.html" %}

<!-- page title -->
{% block title %}Stadsgids - Dashboard{% endblock %}

<!-- page content -->
{% block content %}
<div class="container">
	<h1><i class="far fa-award"></i> Uitgelichte locaties</h1>
	<table class="table table-responsive-xs">
		<thead class="thead-dark">
			<th scope="col"><i class="fas fa-fingerprint"></i></th>
			<th scope="col"><i class="fas fa-hashtag"></i></th>
			<th scope="col"><i class="fas fa-map-marker-alt"></i></th>
			<th scope="col"></th>
		</thead>
		<tbody>
			{% for highlight in highlights %}
			<tr>
				<td>{{ highlight.id }}</td>
		        <td>{{ highlight.week.isocalendar()[1] }}</td>
                <td>{{ highlight.name }}</td>
				<td><a href="{{ url_for('createhighlight', highlight_id=highlight.id) }}"><i class="far fa-edit"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tablesort.js')}}"></script>
{% endblock %}
