<div class="header" style="background-color:#9c0315;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;height:70px;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;" >
	<img src="{{ request.url_root }}static/picto/cross.png" alt="logo" class="right" style="max-height:100%;float:right;" >
	<h1 class="title" style="font-family:'Roboto', sans-serif;font-size:25px;color:white;text-align:center;" >Stadsgids<h1 style="font-family:'Roboto', sans-serif;font-size:25px;" >
</div>
<div class="container" style="padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;" >
	<p style="font-weight:normal;font-size:10pt;" >Beste {{ firstname }},</p>
	<p style="font-weight:normal;font-size:10pt;" >Hieronder vind je de link om je wachtwoord opnieuw in te stellen. Heb je deze link niet zelf aangevraagd? Dan kun je deze email als niet verzonden beschouwen.</p>
	<a href="{{ link }}" style="font-family:'Roboto', sans-serif;text-decoration:none;color:#9c0315;font-weight:bold;" >Klik hier om je wachtwoord opnieuw in te stellen</a>
	<p style="font-weight:normal;font-size:10pt;" >Als er nog vragen of problemen zijn kan je altijd antwoorden op deze e-mail.</p>
	<p style="font-weight:normal;font-size:10pt;" >Veel plezier met de gids en hartelijke groet,</p>
	<br>
	<p style="font-weight:normal;font-size:10pt;" >Maurice</p>
</div>
