#knock {
  background-size: cover;
  max-width: 600px;
  margin: auto;
}

#title {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  border: 12px double;
  color: black;
  mix-blend-mode: screen;
  background-color: white;
  font-size: 30vw;
  animation: glow 10s infinite;
  text-align: center;
}

.menu {
  background-size: cover;
  width: auto;
}

.menu__link {
  padding: 0.6rem 0.5rem;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.8vw;
  mix-blend-mode: screen;
  background-color: white;
}

@media (min-width: 900px) {
  .menu__link {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .menu__link {
    font-size: 10px;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 10px white;
  }
  15% {
    text-shadow: 2px 2px 10px #646464, -2px -2px 10px #646464;
  }
  30% {
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.7), -2px -2px 4px rgba(100, 100, 100, 0.7);
  }
  50% {
    text-shadow: 320px 320px 450px white, -220px -220px 350px white;
  }
}
body {
  background: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

p {
  margin: 0px;
  color: black;
  font-size: 12pt;
}

h1 {
  color: grey;
  margin: 0px;
  margin-top: 30px;
  font-size: 18pt;
}

label {
  color: black;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 13pt;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 4px;
  font-family: "Bebas Neue", cursive;
  font-size: 17pt;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 2px solid black;
}

textarea {
  width: 100%;
  padding: 12px 20px 200px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 13pt;
}

.page {
  margin-bottom: 20px;
}

.form {
  width: 80vw;
  max-width: 450px;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  display: inline-block;
}

.invalidname, .invalidemail, .invalidmessage {
  font-family: "Oswald", sans-serif;
  font-size: 10pt;
  color: grey;
  margin-bottom: 10px;
}

.menu:hover .menu__link:not(:hover) {
  color: grey;
}

/*
=====
MENU STYLES Author

Stas Melnikov
March 5, 2018
=====
*/
/* core styles */
.menu__list {
  display: flex;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu__group {
  flex-grow: 1;
}

.menu__link {
  display: block;
}

/* skin */
/* states */
.menu__link:focus {
  outline: 2px solid #fff;
}

/* hover animation */
.menu__link {
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color 0.25s ease-out;
}

.menu__link::before,
.menu__link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: black;
  will-change: width;
  transition: width 0.1s ease-out;
  position: absolute;
  bottom: 0;
}

.menu__link::before {
  left: 50%;
  transform: translateX(-50%);
}

.menu__link::after {
  right: 50%;
  transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}

/*# sourceMappingURL=stylesindex.css.map */
